@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #E5E5E5;
}

body,p {
  font-size: 14px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input ~ .dot {
  color: transparent;
}
input:checked ~ .dot {
  transform: translateX(70%);
  color: #000;
}
.bg-toggle {
  background: #ccc;
}
input:checked ~ .bg-toggle {
  background: rgba(106, 135, 232, 1);
}
.stepper {
  overflow: visible;
}
.stepper-head-icon {
  width: 3rem;
  height: 3rem;
}
.bg-main-color {
  background-color: #424B5A;
}
.text-main-color {
  color: #424B5A;
}
.border-main-color {
  border-color: #424B5A;
}
.bg-second-color {
  background: #FFC709;
}
.text-link {
  color: #0071BB;
}
.custom-modal {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 0 24px #00000052;
};